spring:

  datasource:
    url: jdbc:mysql://localhost:3306/moimmoim?serverTimezone=Asia/Seoul&useSSL=false&allowPublicKeyRetrieval=true
    username: chun
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update  # 개발용: 테이블 자동 생성/수정
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

server:
  port: 8080


jwt:
  # .env에서 가져온 JWT_SECRET 값을 주입
  secret: ${JWT_SECRET}